body {
  font-family: Winky Rough;
  font-size: 18px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.winky-rough {
  font-family: "Winky Rough", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* practice header */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header container at top */
.main-header {
  width: 100%;
  padding: 24px 0;
  background-color: #ecac62;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: center; /* Center nav horizontally */
}

/* Nav layout */
.nav-menu {
  display: flex;
  gap: 32px;
  align-items: center;
  flex-wrap: wrap;
}

/* Links */
.nav-link {
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  font-size: 28px;
  color: rgba(0, 0, 0, 0.5);
  transition: color 0.2s ease;
}

/* Enlarge SVG logo icon */
.nav-link svg {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}

/* Highlight current (active) page */
.nav-link.current {
  color: black;
  font-weight: bold;
}

/* Responsive */
@media (max-width: 600px) {
  .nav-menu {
    flex-direction: column;
    gap: 16px;
  }

}
/* practice header end */

/* practice page */
.page-wrapper {
  max-width: 800px; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  
}
/* practice page end */

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  Margin-bottom: 20px;
}

.newheader {
  background-color: rgb(240, 157, 108);
  color: black;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 20px 10%;
  margin-bottom: 15px;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.caption {
  font-size: 14px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px
}

h1 {
  font-style: bold;
  font-size: 40px;
  text-align:center
}

h2 {
  font-size: 36px;
  margin-bottom: 1.5rem;      
  margin-top: 1.5rem;
  text-align: center
}

h3 {
  font-size: 24px;
  margin-bottom: 1.5rem;
  text-align: center
}

p {
  font-size: 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  text-indent: 0em; 
  margin-top: 20px;  
  margin-bottom: 20px;                             
  }

.otherimg {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}


li {
  text-align: left;
}