body {
  font-family: Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.newheader {
  background-color: rgb(240, 157, 108);
  color: black;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 20px 10%;
  margin-bottom: 15px;
  text-align: center;
}

img {
  width: 40%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.caption {
  font-size: 14px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px
}

h1 {
  font-style: bold;
  font-size: 40px;
  text-align:center
}

h2 {
  font-size: 24px;
  margin-bottom: 1.5rem;
  text-align: center
}

h3 {
  font-size: 24px;
  margin-bottom: 1.5rem;
  text-align: center
}

p {
  font-size: 20px;
  max-width: 60rem;
  margin: 0 auto 1.5rem auto;
  text-align: left;
  text-indent: 2em;
}

.indented-list {
  max-width: 60rem; 
  margin: 0 auto; 
  text-align: left;
  padding-left: 2rem; 
}

.indented-list p {
  text-indent: 2rem;
  margin-bottom: 0.5rem;
}
.otherimg {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

li {
  text-align: left;
}